<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar of Events: Print to File</title>
    <link rel="stylesheet" type="text/css" href="../static/css/dbs.css" />
    <script>
      function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML =
          "<html><head><title></title></head><body>" + divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
        attachListener();
      }

      function attachListener() {
        const val = document.querySelector(".inbody");
        const zoomin = document.querySelector(".btn.zoom-in");
        const zoomout = document.querySelector(".btn.zoom-out");

        function zoom_in() {
          const fonsi = window
            .getComputedStyle(val, null)
            .getPropertyValue("font-size");
          const currentSize = parseFloat(fonsi);
          val.style.fontSize = currentSize + 1 + "px";
        }

        if (zoomin) {
          zoomin.addEventListener("click", zoom_in);
        }

        function zoom_out() {
          const fonsi = window
            .getComputedStyle(val, null)
            .getPropertyValue("font-size");
          const currentSize = parseFloat(fonsi);
          val.style.fontSize = currentSize - 1 + "px";
        }

        if (zoomout) {
          zoomout.addEventListener("click", zoom_out);
        }
      }

      document.addEventListener("DOMContentLoaded", attachListener);
    </script>
  </head>
  <body>
    <div class="mainbody">
      {% if not forPrint %}
      <div class="titlebar">
        <form method="post" action="/process_form">
          Select:&nbsp;
          <select
            id="viewSelect"
            name="view"
            onchange="this.form.submit()"
            style="font-size: 8pt"
          >
            <option value="generic.html">Generic Notice Layout</option>
            <option value="daa.html">DAA Notice Layout</option>
            <option value="dbs.html" selected>DBS Notice Layout</option>
            <option value="dcs.html">DCS Notice Layout</option>
            <option value="dcmp.html">DCMP Notice Layout</option>
            <option value="dhep.html">DHEP Notice Layout</option>
            <option value="dnap.html">DNAP Notice Layout</option>
            <option value="dtp.html">DTP Notice Layout</option>
            <option value="stcs.html">STCS Notice Layout</option>
            <option value="wednesdaytalks.html">
              Wednesday Colloquium Notice Layout
            </option>
            <option value="aset.html">ASET Colloquium Notice Layout</option>
            <option value="testDAA.html">Demo Notice Layout</option>
          </select>

          | Layout View: DBS &nbsp; |
          <input
            type="button"
            value="Print Notice"
            onclick="javascript:printDiv('printablediv')"
          />
          <button type="button" class="btn zoom-in">Increase Size</button>
          <button type="button" class="btn zoom-out">Decrease Size</button>
          <br />
        </form>
      </div>
      {% endif %}
      <div id="printablediv">
        <div class="inbody">
            <div class="header">
                <br>
                <img src="../static/img/DBSSeminar.jpeg" width="220" height="50">
                &nbsp;
                <img src="../static/img/DBSDept.jpeg" width="420" height="50">
                <h1>Tata Institute of Fundamental Research, Homi Bhabha, Colaba, Mumbai 400005</h1>
            </div>
            <table class="tab">
                <tr>
                    <td><b>Speaker</b></td>
                    <td>: &nbsp;{{speaker}}<br>&nbsp;&nbsp;&nbsp;&nbsp;<i>{{speaker_designation}}</i></td>
                </tr>
                <tr>
                    <td><b>Title</b></td>
                    <td>: &nbsp;{{title}}</td>
                </tr>
                <tr>
                    <td><b>Date</b></td>
                    <td>: &nbsp;<span>{{date}}</span>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><b>Time</b></td>
                    <td>: <span class="bold">{{time}}</span></td>
                </tr>
                <tr>
                    <td><b>Venue</b></td>
                    <td>: &nbsp;{{venue}}&nbsp;&nbsp;<i>room</i>&nbsp;{{room}}</td>
                </tr>
            </table>
            <br> (ALL ARE WELCOME)<br>
            <h5>DBS Office</h5>
            <p> <span style="color:#006699"><b>Abstract :</b></span>
                <br>{{abstract}}
            </p>
        </div>
    </div>
    <br />
    </body>
    </html>
    