<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar of Events: Print to File</title>
    <link rel="stylesheet" type="text/css" href="../static/css/dcmp.css" />
    <script>
      function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML =
          "<html><head><title></title></head><body>" + divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
        attachListener();
      }

      function attachListener() {
        const val = document.querySelector(".inbody");
        const zoomin = document.querySelector(".btn.zoom-in");
        const zoomout = document.querySelector(".btn.zoom-out");

        function zoom_in() {
          const fonsi = window
            .getComputedStyle(val, null)
            .getPropertyValue("font-size");
          const currentSize = parseFloat(fonsi);
          val.style.fontSize = currentSize + 1 + "px";
        }

        if (zoomin) {
          zoomin.addEventListener("click", zoom_in);
        }

        function zoom_out() {
          const fonsi = window
            .getComputedStyle(val, null)
            .getPropertyValue("font-size");
          const currentSize = parseFloat(fonsi);
          val.style.fontSize = currentSize - 1 + "px";
        }

        if (zoomout) {
          zoomout.addEventListener("click", zoom_out);
        }
      }

      document.addEventListener("DOMContentLoaded", attachListener);
    </script>
  </head>
  <body>
    <div class="mainbody">
      {% if not forPrint %}
      <div class="titlebar">
        <form method="post" action="/process_form">
          Select:&nbsp;
          <select
            id="viewSelect"
            name="view"
            onchange="this.form.submit()"
            style="font-size: 8pt"
          >
            <option value="generic.html">Generic Notice Layout</option>
            <option value="daa.html">DAA Notice Layout</option>
            <option value="dbs.html">DBS Notice Layout</option>
            <option value="dcs.html">DCS Notice Layout</option>
            <option value="dcmp.html" selected>DCMP Notice Layout</option>
            <option value="dhep.html">DHEP Notice Layout</option>
            <option value="dnap.html">DNAP Notice Layout</option>
            <option value="dtp.html">DTP Notice Layout</option>
            <option value="stcs.html">STCS Notice Layout</option>
            <option value="wednesdaytalks.html">
              Wednesday Colloquium Notice Layout
            </option>
            <option value="aset.html">ASET Colloquium Notice Layout</option>
            <option value="testDAA.html">Demo Notice Layout</option>
          </select>

          | Layout View: DCMP &nbsp; |
          <input
            type="button"
            value="Print Notice"
            onclick="javascript:printDiv('printablediv')"
          />
          <button type="button" class="btn zoom-in">Increase Size</button>
          <button type="button" class="btn zoom-out">Decrease Size</button>
          <br />
        </form>
      </div>
      {% endif %}
      <div id="printablediv">
        <div class="inbody">
            <div class="header">
                <h1>TATA INSTITUTE OF FUNDAMENTAL RESEARCH</h1>
                <p><b>CONDENSED MATTER PHYSICS AND MATERIALS</b><br><br><b>SCIENCE SEMINAR</b></p>
            </div>
            <table class="tab">
                <tr>
                    <td>Speaker</td>
                    <td>: &nbsp;{{speaker}}&nbsp;{{speaker_designation}}</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>: &nbsp;{{title}}</td>
                </tr>
                <tr>
                    <td>Day, Date &amp; Time</td>
                    <td>: &nbsp;<span>{{date}}</span>&nbsp;<i>from</i>&nbsp;<span class="bold">{{time}}</span></td>
                </tr>
                <tr>
                    <td>Venue</td>
                    <td>: &nbsp;{{venue}}</td>
                </tr>
            </table>
            <p>
                <i><b>Abstract</b></i>&nbsp;:<br>
                {{abstract}}
              </p><h5>Dr. Satyanarayana Bheesette</h5>
        </div>
    </div>
    <br />
    </body>
    </html>
    